.projects-title {
  font-size: 50px;
  padding-top: 20px;
  margin: auto;
  margin-bottom: 50px;
}

.projects-container {
  margin: auto;
  width: 90%;
  height: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: space-around;
}