/* * project container */

.projects-title {
  font-size: 50px;
  padding-top: 20px;
  margin: auto;
  margin-bottom: 50px;
}

.projects-container {
  margin: auto;
  width: 90%;
  height: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: space-around;
}

.link-to {
  display: relative;
  margin-left: auto;
  margin-bottom: 50px;
  margin-right: 25px;
}

/* * page */

.container-project {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: start;
}

.container-project p > img {
  display: block;
  margin: auto;
}

.wmde-markdown {
  width: 90%;
  margin: 0 auto;
}

h3 {
  text-align: center;
}

.loading {
  animation: bounce;
  animation-duration: 1s;
}

.container-project {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: start;
}

.wmde-markdown {
  width: 90%;
  margin: 0 auto;
}

h3 {
  text-align: center;
}

.loading {
  animation: bounce;
  animation-duration: 1s;
}

.test1 {
  max-height: 100px !important;
}
