.showcase {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.showcase .title {
  font-size: 50px;
  color: var(--blue-main-color);
}

.showcase .welcome-message {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.showcase .welcome-message .logo {
  margin-top: 5vh;
  width: 200px;
  height: 200px;
  border-radius: 10%;
}

.showcase .welcome-message p {
  width: 60%;
  font-size: 1.5em;
  margin-top: 10vh;
  text-align: center;
  word-wrap: break-word;
}

hr.divider-right {
  width: 90%;
  height: 15px;
  margin-top: auto;
  margin-bottom: 20px;
  background-color: #00a8f3;
  animation-name: drawRightLine;
  animation-duration: 1s;
  animation-iteration-count: initial;
  animation-timing-function: linear;
  transform-origin: 0% 0% 0px;
  border-radius: 10px;
}

@media (max-width: 900px) {
  .showcase .welcome-message {
    flex-direction: column;
    align-items: center;
  }
  .showcase .welcome-message p {
    width: 100%;
    font-size: 1em;
  }
}

@media (min-height: 1000px) {
  .showcase .welcome-message p {
    font-size: 2em;
  }
}

@keyframes drawRightLine {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
