.container-project {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: start;
}

.wmde-markdown {
  margin-top: 90px;
  width: 90%;
  margin: 0 auto;
}

h3 {
  text-align: left;
}
