.member-card {
  max-width: 450px;
  min-height: 550px;
  width: 90%;
  margin: 40px 0;
  padding: 25px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: dashed 5px;
  border-radius: 20px;
  background-color: #efefef;
}

.member-card .profile-picture {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.member-card .work {
  margin: 10px 0;
  font-size: 24px;
}

.member-card .desc {
  margin: 10px 0 30px;
  font-size: 20px;
}

.member-card .email {
  margin: auto 0 20px;
}

.member-card .social-medias {
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.member-card .social-medias a {
  margin: 0 5px;
}

@media (max-width: 900px) {
  .member-card .profile-picture {
    width: 150px;
    height: 150px;
  }
}
